VITE_FIREBASE_API_KEY=AIzaSyA7oiVVJ0Md_GZYgwxFU-qoBktWyrsHYvc
VITE_FIREBASE_AUTH_DOMAIN=posd-b2422.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=posd-b2422
VITE_FIREBASE_STORAGE_BUCKET=posd-b2422.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=75073765141
VITE_FIREBASE_APP_ID=1:75073765141:web:5f89ab2f7371a52e74331c
VITE_FIREBASE_FUNCTIONS_REGION=asia-northeast1
